<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Documento por defecto: index.php -->
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.php" />
        <add value="default.aspx" />
        <add value="default.htm" />
        <add value="default.html" />
      </files>
    </defaultDocument>

    <!-- Evita que IIS reemplace nuestros JSON con páginas HTML en errores -->
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
